body
{
    padding: 20px;
}

#container
{
    display: grid;
    grid-template-columns: [col-start] 300px [line2] 300px [line3] 1600px [col-end];
    font-family:Arial, Helvetica, sans-serif;
    column-gap: 40px;
}

#links
{
    display: grid;
}

hr 
{
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:black;
    height: 1px;
  }